/* Reseteo para eliminar márgenes y estilos por defecto */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #000a20;
  width: 400px;
  height: 500px;
  border-radius: 20px 20px 20px 20px;
}
